body
  color: #333
  font: 14px/1.5 Arial
  background: #E1DFD9

h1
  color: #6A6967
  font-weight: bold
  font-size: 5em
  text-transform: uppercase
  text-align: center

p
  margin-bottom: 1.5em

a
  text-decoration: none !important
  color: crimson

ul#log
  width: 100%
  height: 800px
  overflow: scroll
  margin-bottom: 1.5em
  border-radius: 10px
  background: url(/images/fabric.jpg) top left repeat
  border: 1px solid #DDD

  li
    padding: 6px
    border-bottom: 1px solid #DDD

    &:nth-child(even)
      background: white

    &:nth-child(odd)
      background: whitesmoke

    &#no-messages
      font-weight: bold
      color: #555
      text-align: center
      font-size: 3em
      line-height: 788px
      border-bottom-width: 0
      background: none
      text-shadow: rgba(#000, 0.3) 0 2px 0

    time
      float: right
      font-size: 12px

    img.gravatar
      width: 48px
      height: 48px
      border-radius: 50px
      border: 4px solid #AAA
      float: left
      margin-right: 10px

    .email
      display: inline
      font-weight: bold
      vertical-align: top

    p
      margin-top: 0.5em
      margin-bottom: 0

input[type="text"]
  padding: 6px
  width: 1158px
  color: #FFF
  background: url(/images/fabric.jpg) top left repeat

  &.parsley-error
    border-color: #b94a48
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)

strong
  font-weight: bold

span#count
  font-style: italic
  font-size: 12px
  float: right

#login-buttons
  float: right
  margin-top: 1em

#rooms
  display: inline-block
  margin-top: 1em

