<template name="admin">

  <div id="admin-area" class="dropdown">
    <a href="#" id="admin-toggle">Admin</a>

    <ul id="admin-menu" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

      {{#if messagesPresent}}
        <li>
          <a tabindex="-1" href="#" id="clear-room">
            <i class="icon-trash"></i>
            Clear Room
          </a>
        </li>
      {{/if}}

      <li class="disabled">
        <a tabindex="-1" href="#">
          <i class="icon-plus-sign"></i>
          Create Room
        </a>
      </li>

      <li class="disabled">
        <a tabindex="-1" href="#">
          <i class="icon-thumbs-up"></i>
          Invite Someone
        </a>
      </li>

      <li class="divider"></li>

      <li class="disabled">
        <a tabindex="-1" href="#">
          <i class="icon-tasks"></i>
          Manage Organization
        </a>
      </li>

      <li class="disabled">
        <a tabindex="-1" href="#">
          <i class="icon-briefcase"></i>
          Manage Team
        </a>
      </li>

    </ul>
  </div>

</template>
