<template name="controls">
  <p>
    {{#if messagesPresent}}
      <button class="btn btn-danger btn-mini" id="clear">
        <i class="icon-trash icon-white"></i>
        Clear Log
      </button>

      {{#if gravatarsHidden}}
        <button class="btn btn-warning btn-mini" id="show-gravatars">
          <i class="icon-adjust icon-white"></i>
          Show Gravatars
        </button>
      {{else}}
        <button class="btn btn-warning btn-mini" id="hide-gravatars">
          <i class="icon-adjust icon-white"></i>
          Hide Gravatars
        </button>
      {{/if}}

      <span id="count">{{count}}</span>
    {{/if}}
  </p>
</template>
