<template name="options">

  <div id="options-area" class="dropdown">
    <a href="#" id="options-toggle">Options</a>

    <ul id="options-menu" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

      <li>
        <a tabindex="-1" href="#" id="create-room">
          <i class="icon-plus-sign"></i>
          Create A Room
        </a>
      </li>

      <li class="divider"></li>

      {{#if isOwner}}
        <li>
          <a tabindex="-1" href="#" id="invite-someone">
            <i class="icon-thumbs-up"></i>
            Invite Someone
          </a>
        </li>

        <li>
          <a tabindex="-1" href="#" id="rename-room">
            <i class="icon-thumbs-up"></i>
            Rename This Room
          </a>
        </li>

        <li>
          <a tabindex="-1" href="#" id="delete-room">
            <i class="icon-trash"></i>
            Delete This Room
          </a>
        </li>

        {{#if messagesPresent}}
          <li>
            <a tabindex="-1" href="#" id="delete-messages">
              <i class="icon-trash"></i>
              Delete Messages
            </a>
          </li>
        {{/if}}

        <li class="divider"></li>
      {{/if}}


      {{#if gravatarsHidden}}
        <li>
          <a tabindex="-1" href="#" id="show-gravatars">
            <i class="icon-adjust"></i>
            Show Avatars
          </a>
        </li>
      {{else}}
        <li>
          <a tabindex="-1" href="#" id="hide-gravatars">
            <i class="icon-adjust"></i>
            Hide Avatars
          </a>
        </li>
      {{/if}}

    </ul>
  </div>

</template>
